@import "tailwindcss";

body {
    background-color: #DAF5FB;
    color: #00B4D8;
}

.primary-bg {
    background-color: #03045E;
}

.disabled-button {
    cursor: not-allowed !important;
    filter: opacity(0.5);
}